# Dependencies
node_modules

# Next.js
.next
out
next-env.d.ts

# Environment
.env
.env*.local

# Logs
*.log
npm-debug.log*

# Editors / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.sw?
